body{
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
}

.delgomdan{
    &__Ej2{
        margin-top: 1rem;
        min-height: 70vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 8fr 100px;
        & *{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &header{
            background-color: lightgreen;
        }

        &main{
            display: grid;
            grid-template-columns: 4fr 1fr;
        }
        
        &aside {
            background-color: tomato;
            height: 100%;
        }
        
        &section{
            padding: 10px;       
            background-color: lightblue;
            height: 100%;
            flex-wrap: wrap;
            & img{
                margin-top: .5rem;
                max-width: 100%;
            }
        }

        &footer{
            background-color: gold;
        }
    }
}


@media screen and (max-width: 600px){
    .delgomdan{
        &__Ej2{
            &main{
                grid-template-columns: 1fr;
                grid-template-rows: 6fr 1fr;
            }
        }
    }
}