.delgomdan{
    &__Ej5{
        margin-top: 1rem;

        & img{
            display: block;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
